html {
    background-color: #282c34;
}

.App {
    display: flex;
    height: 100vh;
    justify-content: center;
    color: blanchedalmond;
    align-items: center;
}

.btn {
    height: 2rem;
    width: 5rem;
    background-color: blanchedalmond;
    margin: 5rem;
}
